# User-specific files
*.suo

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Build results within the visual_studio folder (framework and examples)
temp/
examples/**/[Tt]emp/
examples/**/[Bb]in/

# Visual Studio cache/options directory
.vs/

# Ignore temporary MS-Office files
~$*.doc*
~$*.dot*
~$*.xls*
~$*.xlt*
~$*.ppt*
~$*.pot*

# Ignore the BUILT version of the post build helper tool
tools/executables/post_build_helper.exe
tools/executables/AssimpNet.dll
tools/executables/Newtonsoft.Json.dll
tools/executables/EnvDTE.dll
tools/executables/EnvDTE80.dll
tools/executables/Hardcodet.Wpf.TaskbarNotification.dll
