<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CgbPostBuildHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CgbPostBuildHelper.Properties.Settings>
            <setting name="AlwaysDeployReleaseDlls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysCopyNeverSymlink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotMonitorFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWindowForVkShaderDeployment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWindowForGlShaderDeployment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWindowForModelDeployment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReleaseSubPathInExternals" serializeAs="String">
                <value>release</value>
            </setting>
            <setting name="DebugSubPathInExternals" serializeAs="String">
                <value>debug</value>
            </setting>
            <setting name="HideAccessDeniedErrorsForDlls" serializeAs="String">
                <value>True</value>
            </setting>
        </CgbPostBuildHelper.Properties.Settings>
    </userSettings>
</configuration>
